#mydiv
{
  position: absolute;
  width: 600px;
  height: 400px;
  z-index: 15;
  top: 40%;
  left: 40%;
  margin: -100px 0 0 -150px;
  background: black;
  color:blue;
  font-size:20px;
}
body{height:100%;
   width:100%;
   background-image:url(b.png);/*your background image*/  
   background-repeat:no-repeat;/*we want to have one single image not a repeated one*/  
   background-size:cover;
   }

 